
.sliderDiv {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 0 25px;
    user-select: none;
    width: 100%;

    div {
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
        background: rgba(255, 255, 255, 0.1);
        color: white;
        border-radius: 15px;
        padding: 5px 10px;
    }

    input {
        width: 100%;
    }
}

.sliderDiv.active {
    display: block;
}