body {
    font-family: 'Poppins', sans-serif !important;
}

.nav-logo-svg {
    width: 104px;
    height: 104px;
    margin-left: 44px;
}

.lg-hidden {
    display: none;
}

.lg-show {
    display: initial;
}

.sm-show {
    display: initial;
}

.sm-hidden {
    display: none;
}

.md-show {
    display: initial;
}

.md-hidden {
    display: none;
}

@media (max-width: 992px) {
    .nav-logo-svg {
        width: 64px;
        height: 64px;
        margin-left: 24px;
    }

    .lg-hidden {
        display: initial !important;
    }

    .lg-show {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .md-hidden {
        display: initial !important;
    }

    .md-show {
        display: none !important;
    }

    .inspireseCard {
        height: 300px !important;
    }
}

@media (max-width: 480px) {
    .nav-logo-svg {
        width: 48px;
        height: 48px;
        margin-left: 16px;
    }

    .sm-show {
        display: none !important;
    }

    .sm-hidden {
        display: initial !important;
    }

}

@media (max-width: 768px) {
    .rounded-md-l-4 {
        border-radius: 17px 17px 0 0 !important;
    }

    .rounded-md-r-4 {
        border-radius: 0 0 17px 17px !important;
    }

    .page-center{
        left: 50% !important;
        top: 50% !important;
    }
    .page-center.videoContainer{
        left: 50% !important;
        top: 80% !important;
    }
}

.page-center {
    position: absolute;
    top: 50%;
    left: 37%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*.navbar {*/
/*    font: 16px 'Roboto', sans-serif;*/
/*}*/

.topNavSection .nav-link {
    padding: 10px 8px;
}

.topNavSection .nav-link:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.topNavSection .nav-link.active {
    text-decoration: underline !important;
    font-weight: bold !important;
    text-decoration-thickness: 3px !important;
    text-underline-offset: 5px !important;
}

.loginRegisterBtn {
    text-wrap: nowrap;
    padding: 4px 8px !important;
    border-radius: 50px !important;
}

.w-fit {
    width: fit-content;
}

.openMenuBtn {
    background: rgba(24, 24, 24);
    color: white;
    border-radius: 50px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    outline: none !important;
    border: none !important;
    margin-right: 5px;
    transition: color 0.3s, background 0.3s;
}

.openMenuBtn:hover {
    background: rgba(45, 45, 45, 0.8);
}

@media (max-width: 992px) {
    .openMenuBtn {
        background: transparent;
        color: black;
    }

    .openMenuBtn:hover {
        background: rgba(45, 45, 45, 0.2);
    }

    .openMenuBtn .text-invert {
        filter: none !important;
    }
}

.text-invert {
    filter: invert(1);
}


.titleBlock.title {
    font-size: 24px;
    font-weight: bold;
    color: #12151b;
    margin: 15px 0;
}

.menuSelectionList {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.menuSelectionList a {
    text-decoration: none;
    color: #12151b;
    display: flex;
    align-items: center;
}

.menuSelectionList a:hover {
    background-color: #f5f5f5;
}

.menu_icon {
    margin-right: 10px;
}

.menu__listItemSeparator {
    height: 1px;
    background-color: #e0e0e0;
    margin: 10px 0;
}

.offcanvas ul {
    padding: 0;
    margin: 0;
}

.offcanvas li {
    list-style: none;
}

.w-85 {
    width: 85%;
}

canvas {
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

.productRow {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 400px;
    max-height: 400px;
}

.scrollableDiv {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
}


.cardWrapper .card-body {
    height: 100%;
}

.card {
    transition: all .5s;

    img {
        transition: 0.5s;
    }

    img {
        position: relative;
        z-index: 1;

        &:hover {
            transform: scale(1.1);
            z-index: 5;
        }
    }

    a {
        text-decoration: none;
        color: black;
        height: 100%;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        a {
            text-decoration: underline;
            color: black;
        }
    }
}

.cardWrapper {
    display: inline-block;
    width: 250px !important;
    height: 380px;

    margin-right: 3px;

    .card {
        height: 100%;
        width: 250px;
    }
}

.cardWrapper .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.cardWrapper .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;

    p {
        font-weight: 500;
        font-size: 20px;

        .oldPrice {
            font-size: 14px;
            font-weight: normal;
            color: black;
            text-decoration: line-through;
        }

        .discount {
            margin-left: 8px;
            font-size: 14px;
            font-weight: revert;
        }
    }

}

.shortDescription {
    height: 70px;
    width: 100%;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.listaProdutos {
    display: grid;
    grid-template-columns: .3fr 1fr .6fr .2fr .3fr;
    border-bottom: rgb(0, 0, 0, .5) 1px solid;
    padding: 3px 0 3px 0;
    justify-items: center;
    align-items: center;
}

.listaProdutos .itemImage {
    width: 50px;
    border-radius: 5px;
    padding: 0;
}

.listaProdutos a {
    text-decoration: none;
    color: rgb(0, 0, 0, .7);
}

.card .card-title {
    white-space: break-spaces;
}

.card-body {
    color: black;
}

.categoryCard {
    background-image: url("../assets/banners/sectionImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: flex-end;
    color: white;
    position: relative;
    text-align: center;
    cursor: pointer;

    .card-body {
        padding: 20px 0;
    }

    .card-title {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }

    .card-title {
        display: -webkit-box;
        -webkit-line-clamp: revert;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: revert;
        z-index: 5;
        position: relative;
    }

    span {
        vertical-align: middle;
    }

    .mask {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        height: 100%;
        border-radius: 5px 5px 0 0;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 27, 33, 0)), color-stop(55%, rgba(25, 27, 33, .05)), color-stop(80%, rgba(25, 27, 33, .4)), to(rgba(25, 27, 33, .6)));
        background: -webkit-linear-gradient(bottom, rgba(25, 27, 33, 0) 0%, rgba(25, 27, 33, .05) 55%, rgba(25, 27, 33, .4) 80%, rgba(25, 27, 33, .6) 100%);
        background: -o-linear-gradient(bottom, rgba(25, 27, 33, 0) 0%, rgba(25, 27, 33, .05) 55%, rgba(25, 27, 33, .4) 80%, rgba(25, 27, 33, .6) 100%);
        background: linear-gradient(0deg, rgba(25, 27, 33, 0) 0%, rgba(25, 27, 33, .05) 55%, rgba(25, 27, 33, .4) 80%, rgba(25, 27, 33, .6) 100%);
    }

    a {
        z-index: 5;
    }

    &:hover {
        button {
            margin-bottom: 10px;
            background: #2f2f2f;
        }
    }

}

.sectionBtn {
    background: #1f1f1f;
    border-radius: 25px;
    color: white;
    padding: 8px 18px;
    font-weight: 500;
    vertical-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background: #2f2f2f;
    }
}


.inspireseCard {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: flex-end;
    color: white;
    position: relative;

    /* mascara copiada do site da laredoute.pt */

    .mask {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 27, 33, 0)), color-stop(55%, rgba(25, 27, 33, .05)), color-stop(80%, rgba(25, 27, 33, .4)), to(rgba(25, 27, 33, .6)));
        background: -webkit-linear-gradient(top, rgba(25, 27, 33, 0) 0%, rgba(25, 27, 33, .05) 55%, rgba(25, 27, 33, .4) 80%, rgba(25, 27, 33, .6) 100%);
        background: -o-linear-gradient(top, rgba(25, 27, 33, 0) 0%, rgba(25, 27, 33, .05) 55%, rgba(25, 27, 33, .4) 80%, rgba(25, 27, 33, .6) 100%);
        background: linear-gradient(180deg, rgba(25, 27, 33, 0) 0%, rgba(25, 27, 33, .05) 55%, rgba(25, 27, 33, .4) 80%, rgba(25, 27, 33, .6) 100%);
    }

    .col-lg-4 {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }

    .container-fluid {
        z-index: 5;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: black;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}


.rounded-md-l-4 {
    border-radius: 17px 0 0 17px;
}

.rounded-md-r-4 {
    border-radius: 0 17px 17px 0;
}

.bg-green-subtle {
    background: #edfaed;
}


.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#three-canvas {
    width: 100%;
    height: calc(100dvh - 150px);
    object-fit: contain;
    min-height: 500px;
}

.floatingBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 50px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    user-select: none;
    cursor: pointer;
}

.floatingBtn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.floatingBtn.active {
    background: rgba(0, 0, 0, 0.3);
    color: dodgerblue;
}

.artigoCardContainer a {
    text-decoration: none;
    color: black;
}

.artigoCard {
    background: rgba(0, 0, 0, 0.05);
    height: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s;

    img {
        width: 170px !important;
        height: 170px !important;
        object-fit: cover;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .title {
        font-size: 18px;
        font-weight: 500;
        color: #12151b;
        margin: 15px 0;
    }

    span {
        text-decoration: none;
        color: black;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

footer .terms {
    font-size: 12px;

    a {
        text-decoration: none;
        color: black;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
    }

}

.invert {
    filter: invert(1) !important;
}

.breadcrumb {

    font-size: 14px;

    a {
        text-decoration: none;
        color: grey
    }
}

.fs-x-small {
    font-size: 12px;
}


.arrow-ul {
    list-style: none;
    padding: 0;

    li {
        position: relative;
        padding-left: 20px;
    }

    li::before {
        content: '⤷'; /* Custom arrow character */
        position: absolute;
        left: 0;
        color: #000; /* Change color as needed */
    }

    a {
        color: black;
    }
}

.inspireseCardLink {
    all: unset !important;
    cursor: pointer !important;
}

.inspireseCard {
    a {
        transition: all 0.5s;
    }

    &:hover {
        .title {
            text-decoration: underline;
        }

        a {
            margin-left: 25px;
        }
    }
}

.artigoCardContainer {
    span {
        transition: all 0.5s;
    }

    a:hover {
        .title {
            text-decoration: underline;
        }

        span {
            transform: translateX(10px);
        }
    }
}


/* CSS copied from laredoute.pt with some simplifications & color change */
footer {
    display: block;
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    a {
        color: black;
        text-decoration: none;
    }

    button,
    input {
        border-radius: 0;
        color: inherit;
        font: inherit;
        margin: 0;
        -webkit-appearance: none;
    }


    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    button {
        background-color: transparent;
        border: 0;
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    h3 {
        font-size: 24px;
    }

    h3 {
        color: inherit;
        font-family: inherit;
        font-weight: 600;
        line-height: 1.1;
    }

    h3 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    img {
        border: 0;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    input,
    button {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    a[href]:focus,
    input:not([disabled]):focus,
    button:not([disabled]):focus,
    [tabindex]:focus {
        outline-offset: 2px;
        outline-width: 4px;
        outline-color: #5EAAF4;
    }

    a[href]:focus:not(:focus-visible),
    area[href]:focus:not(:focus-visible),
    input:not([disabled]):focus:not(:focus-visible),
    select:not([disabled]):focus:not(:focus-visible),
    textarea:not([disabled]):focus:not(:focus-visible),
    button:not([disabled]):focus:not(:focus-visible),
    iframe:focus:not(:focus-visible),
    [tabindex]:focus:not(:focus-visible),
    [contentEditable='true']:focus:not(:focus-visible) {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .lr-button.lr-button-secondary:focus-visible, .lr-button.lr-button-tertiary:focus-visible {
        background-color: transparent;
    }

    .lr-button.lr-button-secondary:focus-visible {
        background-color: transparent;
    }

    .lr-button.lr-button-secondary:focus-visible::after {
        background-color: #12151b;
    }

    .lr-button.lr-button-destructive:focus-visible, .lr-button.lr-button-destructive:focus-visible:active {
        color: #EB5E1f;
        background-color: #f2f4f7;
    }

    .lr-chip:focus-visible {
        color: #12151b;
    }

    .lr-chip-secondary:focus-visible {
        color: #12151b;
        background-color: #FFF;
    }

    .lr-chip-tertiary:focus-visible {
        background-color: #FFF;
    }

    .lr-chip-ghost:focus-visible {
        background-color: #f2f4f7;
    }

    .lr-link:focus-visible {
        outline-offset: 4px !important;
        outline-width: 2px !important;
        outline-color: #3b97f2 !important;
    }

    .lr-link-dark:not(:active):not(:hover) {
        color: #FFF;
    }

    .lr-link-dark:not(:active):not(:hover)::after {
        background-color: #FFF;
    }

    .lr-pill-dark-trans:focus-visible {
        color: #12151b !important;
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .lr-pill-dark.lr-pill-icon:not(:focus) svg,
    .lr-pill-dark.lr-pill-icon:not(:focus) path,
    .lr-pill-dark.lr-pill-icon:not(:hover:active) svg,
    .lr-pill-dark.lr-pill-icon:not(:hover:active) path {
        fill: #12151b;
    }

    .lr-pill-toggleWrapper .lr-pill:focus-visible {
        color: #12151b !important;
        background-color: #f2f4f7 !important;
    }

    .lr-pill-filter.lr-pill-dark:focus:hover:not(:active) {
        color: black !important;
    }

    .lr-pill-filter.lr-pill-dark:focus:hover:not(:active)::before, .lr-pill-filter.lr-pill-dark:focus:hover:not(:active)::after, .lr-pill-filter.lr-pill-dark:focus:hover:not(:active) .lr-pill-filter__counter {
        background-color: #12151b !important;
        color: #FFF !important;
    }

    @media (pointer: coarse) {
        a, button, a::before, button::before, a::after, button::after {
            -webkit-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
            -webkit-animation: none !important;
            animation: none !important;
        }
    }

    @media (hover: none) {
        a, button, a::before, button::before, a::after, button::after {
            -webkit-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
            -webkit-animation: none !important;
            animation: none !important;
        }
    }


    .switch_input:focus:not(:focus-visible) ~ .switch_fakeInput {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .lr-button:focus-visible, .link-sm:focus-visible, .link-md:focus-visible, .link-lg:focus-visible, .lr-pill:focus-visible {
        outline: 4px solid #3b97f2;
        outline-offset: 2px;
        z-index: 1000;
    }

    .radio-inline::last-child {
        margin-right: 0;
    }

    #lrNewMenu .deployableSelectionList_button::marker {
        display: none;
        background-image: none;
        -webkit-appearance: none;
        content: none;
    }

    #lrNewMenuV4 .deployableSelectionList_button::marker {
        display: none;
        background-image: none;
        -webkit-appearance: none;
        content: none;
    }

    html {
        margin-top: 0px !important;
    }

    body::after {
        content: "1";
        display: none;
    }

    @media (min-width: 768px) {
        body::after {
            content: "2";
        }
    }

    @media (min-width: 992px) {
        body::after {
            content: "3";
        }
    }

    @media (min-width: 1200px) {
        body::after {
            content: "4";
        }
    }

    .skip-links .skip-link:focus-visible {
        position: relative;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
        overflow: visible;
        z-index: 1000;
        background-color: #FFF;
        padding: 0.5rem 1rem;
        outline: none;
        -webkit-box-shadow: 0 0 0 2px #0895ff;
        box-shadow: 0 0 0 2px #0895ff;
    }

    input::-ms-clear {
        display: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .custom-radio:not(:checked),
    .custom-checkbox:not(:checked) {
        position: fixed;
        z-index: -1;
        left: -9999px;
    }

    .custom-radio:not(:checked) ~ label,
    .custom-checkbox:not(:checked) ~ label {
        position: relative;
        padding: 0 30px 0 30px;
        width: 100%;
    }

    .custom-checkbox.tick:not(:checked) ~ label {
        padding: 0 15px 0 30px;
    }

    .custom-radio:not(:checked) ~ label::before,
    .custom-checkbox:not(:checked) ~ label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        border: 1px solid #98a2b3;
        background-color: #fff;
    }

    .custom-checkbox.tick:not(:checked) ~ label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        width: 30px;
        height: 30px;
        border: 2px solid #dfdee5;
        background-color: #fff;
    }

    .custom-radio:not(:checked) ~ label::before {
        border-radius: 10px;
    }

    .custom-radio:not(:checked) ~ label::after,
    .custom-checkbox:not(:checked) ~ label::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 5px;
        background-color: #333;
        width: 10px;
        height: 10px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .custom-checkbox.tick:not(:checked) ~ label::after {
        content: '\2713';
        font-weight: 600;
        top: 50%;
        margin-top: -6px;
        left: 8px;
        background-color: transparent;
        font-size: 18px;
    }

    .custom-radio:not(:checked) ~ label::after {
        border-radius: 100%;
    }

    .custom-radio.input-right:not(:checked) ~ label,
    .custom-checkbox.input-right:not(:checked) ~ label {
        padding-left: 0;
        padding-right: 25px;
    }

    .custom-radio.input-right:not(:checked) ~ label::before,
    .custom-checkbox.input-right:not(:checked) ~ label::before {
        right: 0;
        left: auto;
    }

    .custom-radio.input-right:not(:checked) ~ label::after,
    .custom-checkbox.input-right:not(:checked) ~ label::after {
        right: 5px;
        left: auto;
    }

    .custom-radio:not(:checked) ~ label::after,
    .custom-checkbox:not(:checked) ~ label::after {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .custom-checkbox.top:not(:checked) ~ label::before {
        top: 5px;
        margin-top: 0;
    }

    .custom-checkbox.top:not(:checked) ~ label::after {
        top: 10px;
        margin-top: 0;
    }

    .custom-radio:focus:not(:focus-visible) ~ label::before,
    .custom-checkbox:focus:not(:focus-visible) ~ label::before {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 100px white inset !important;
    }
}

#footer {
    position: relative;
    color: #000 !important;
    margin-top: 100px;
}

#footer h3 {
    margin: 0;
}

#footer .widgetLine {
    padding: 0 30px 0 30px;
    width: 100%;
}

@media (min-width: 768px) {
    #footer .widgetLine {
        padding: 48px;
    }
}

@media (min-width: 992px) {
    #footer .widgetLine {
        padding: 48px 181px;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine {
        padding: 48px;
    }
}

@media (min-width: 1360px) {
    #footer .widgetLine {
        padding: 48px 96px;
    }
}

@media (min-width: 1920px) {
    #footer .widgetLine {
        padding: 48px 192px;
    }
}

#footer .widgetLine__1 {
    background-color: #f1f1f1;
    border-bottom: 1px solid #1f1f1f;
    border-top: 1px solid #1f1f1f;
}

@media (min-width: 768px) {
    #footer .widgetLine__1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

#footer .widgetLine__1 .footer-column:first-of-type {
    padding-top: 15px;
}

@media (min-width: 768px) {
    #footer .widgetLine__1 .footer-column:first-of-type {
        padding-top: 0;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__1 .footer-column:first-of-type {
        padding-top: 10px;
    }
}

#footer .widgetLine__1 .footer-column:last-of-type {
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    #footer .widgetLine__1 .footer-column:last-of-type {
        padding-bottom: 0;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__1 .footer-column:last-of-type {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    #footer .widgetLine__1 .footer-column {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__1 .footer-column {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 240px;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__1 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

#footer .widgetLine__1 .reinsurance__wrap {
    padding: 15px 0;
    width: 100%;
}

@media (min-width: 768px) {
    #footer .widgetLine__1 .reinsurance__wrap {
        padding: 24px 0;
        width: 40%;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__1 .reinsurance__wrap {
        width: 240px;
        padding: 38px 0;
    }
}

#footer .widgetLine__1 .reinsurance__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 265px;
    padding: 0;
}

#footer .widgetLine__1 .reinsurance__item:focus {
    outline: 3px solid #2D74B9;
    color: #FFF;
    border-radius: 4px;
}

#footer .widgetLine__1 .reinsurance__item:focus-visible {
    outline: none;
}

#footer .widgetLine__1 .reinsurance__picto {
    height: 48px;
    filter: invert(1);
}

#footer .widgetLine__1 .reinsurance__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 4px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Barlow Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: start;
}

#footer .widgetLine__1 .reinsurance__label:focus {
    outline: 3px solid #2D74B9;
    color: #FFF;
    border-radius: 4px;
}

@media (min-width: 768px) {
    #footer .widgetLine__2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        padding-bottom: 24px;
    }

    #footer .widgetLine__2 .footer-column {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__2 .footer-column {
        width: 240px;
    }
}

#footer .widgetLine__2 .footer-services-block {
    border: none;
    padding: 30px 0;
    border-bottom: 1px solid #FFF;
}

@media (min-width: 768px) {
    #footer .widgetLine__2 .footer-services-block {
        border-bottom: none;
        padding: 0 0 24px 0;
    }
}

#footer .widgetLine__2 .footer-services-title {
    font-size: 16px;
    font-family: 'Barlow Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}

#footer .widgetLine__2 .footer-services-btn:focus-visible {
    outline: 3px solid #2D74B9 !important;
    color: #FFF;
    border-radius: 4px !important;
}

#footer .widgetLine__2 .footer-services-link {
    display: block;
    font-size: 12px;
    margin-top: 8px;
}

#footer .widgetLine__2 .footer-services-link:first-of-type {
    margin-top: 16px;
}

#footer .widgetLine__2 .footer-services-link a {
    line-height: 15px;
    -webkit-transition: border-bottom 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: border-bottom 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: border-bottom 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border-bottom: 1px solid transparent;
}

@media not all and (any-pointer: coarse) {
    #footer .widgetLine__2 .footer-services-link a:hover {
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }

    #footer .widgetLine__2 .footer-services-link a:active {
        color: #d23443;
    }

    #footer .widgetLine__2 .footer-services-link a:focus-visible, #footer .widgetLine__2 .footer-services-link--isPanel:focus-visible {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 3px solid #2D74B9 !important;
        color: #FFF;
        border-radius: 4px;
    }
}

#footer .widgetLine__3 {
    background-color: #f1f1f1;
    border-bottom: 1px solid #1f1f1f;
    border-top: 1px solid #1f1f1f;
    font-family: 'Barlow Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    position: relative;
}

#footer .widgetLine__3::before {
    display: none;
    content: '';
    height: 0.5px;
    width: 100%;
    background-color: #FFF;
    margin: 18px 0;
    position: absolute;
}

@media (min-width: 768px) {
    #footer .widgetLine__3 {
        padding-bottom: 0;
        padding-top: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #footer .widgetLine__3::before {
        display: block;
        width: calc(100vw - 110px) !important;
        left: 48px;
        top: -20px;
    }
}

#footer .widgetLine__3 .footer-column {
    padding: 30px 0;
    border-bottom: 1px solid #FFF;
}

@media (min-width: 768px) {
    #footer .widgetLine__3 .footer-column {
        width: 40%;
        padding: 48px 0;
        border-bottom: none;
    }

    #footer .widgetLine__3 .footer-column:nth-of-type(3), #footer .widgetLine__3 .footer-column:nth-of-type(4) {
        padding-top: 0;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__3 .footer-column {
        width: 240px;
        padding: 48px 0 !important;
    }
}

#footer .widgetLine__3 .logoLinks__wrap {
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

@media (min-width: 768px) {
    #footer .widgetLine__3 .logoLinks__wrap {
        position: relative;
        height: auto;
        line-height: unset;
        width: 240px;
    }
}

#footer .widgetLine__3 .logoLinks__wrap .prev-icon,
#footer .widgetLine__3 .logoLinks__wrap .next-icon {
    display: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    #footer .widgetLine__3 .logoLinks__wrap .prev-icon,
    #footer .widgetLine__3 .logoLinks__wrap .next-icon {
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        height: 63px;
        width: 15px;
    }

    #footer .widgetLine__3 .logoLinks__wrap .prev-icon::after,
    #footer .widgetLine__3 .logoLinks__wrap .next-icon::after {
        content: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.19 11.5 8.69 8l-3.5-3.5 1.06-1.06 4.03 4.03a.75.75 0 0 1 0 1.06l-4.03 4.03-1.06-1.06Z' fill='%23fff'/%3E%3C/svg%3E");
    }
}

#footer .widgetLine__3 .logoLinks__wrap .prev-icon {
    left: -20px;
}

#footer .widgetLine__3 .logoLinks__wrap .prev-icon::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    margin-bottom: 16px;
}

#footer .widgetLine__3 .logoLinks__wrap .next-icon {
    left: 190px;
}

#footer .widgetLine__3 .logoLinks__wrap .next-icon::after {
    margin-bottom: 4px;
}

#footer .widgetLine__3 .logoLinks__title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

#footer .widgetLine__3 .logoLinks__title:focus {
    outline: 3px solid #2D74B9;
    color: #FFF;
    border-radius: 4px;
}

@media not all and (any-pointer: coarse) {
    #footer .widgetLine__3 .logoLinks__description_container a:focus-visible {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 3px solid #2D74B9 !important;
        color: #FFF;
        border-radius: 4px;
    }
}

#footer .widgetLine__3 .logoLinks__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-left: -3px;
    margin-top: -6px;
    overflow: scroll;
}

@media (min-width: 768px) {
    #footer .widgetLine__3 .logoLinks__items {
        overflow: hidden;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

#footer .widgetLine__3 .logoLinks__item, #footer .widgetLine__3 .logoLinks__picto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    max-width: 150px;
    min-width: 32px;
}

#footer .widgetLine__3 .logoLinks__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 5px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#footer .widgetLine__3 .logoLinks__item a:focus,
#footer .widgetLine__3 .logoLinks__item img:focus {
    outline: 3px solid #2D74B9 !important;
    color: #FFF;
    border-radius: 4px;
}

#footer .widgetLine__3 .logoLinks__item a:focus-visible,
#footer .widgetLine__3 .logoLinks__item img:focus-visible {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#footer .widgetLine__3 .logoLinks__picto {
    min-height: 28px;
    max-height: 32px;
}

#footer .widgetLine__3.onCheckout .prev-icon:focus-visible,
#footer .widgetLine__3.onCheckout .next-icon:focus-visible {
    outline: none;
}

#footer .widgetLine__4 {
    margin: 30px 0 0 0;
}

@media (min-width: 768px) {
    #footer .widgetLine__4 {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
    }
}

@media (min-width: 992px) {
    #footer .widgetLine__4 {
        padding: 30px 48px;
    }
}

@media (min-width: 1200px) {
    #footer .widgetLine__4 {
        padding: 30px 48px 30px 48px;
    }
}

#footer .widgetLine__4 .footer-column {
    padding: 0;
    color: #FFF;
}

@media (min-width: 768px) {
    #footer .widgetLine__4 .footer-column {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #footer .widgetLine__4 .footer-column::before {
        content: '';
        height: 0.5px;
        width: 100%;
        background-color: #FFF;
        margin: 0;
        position: absolute;
        top: 0;
        width: calc(100vw - 110px);
        left: 48px;
    }
}

@media (min-width: 768px) {
    #footer .widgetLine__4 .footer-column {
        gap: 8px;
    }
}

@media (min-width: 992px) {
    #footer .widgetLine__4 .footer-column {
        gap: 16px;
    }
}

#footer .widgetLine__4 .footer-column .footer__listOfLinks {
    position: relative;
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 1.75;
    display: block;
}

#footer .widgetLine__4 .footer-column .footer__listOfLinks::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #FFF;
    margin-top: 30px;
}

@media (min-width: 768px) {
    #footer .widgetLine__4 .footer-column .footer__listOfLinks::after {
        display: none;
    }
}

#footer .widgetLine__4 .footer-column .footer__listOfLinks__item {
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

#footer .widgetLine__4 .footer-column .footer__listOfLinks__item:not(:first-of-type)::before {
    display: inline-block;
    content: '\00A0\2022\00A0';
    margin-right: 8px;
    margin-left: 8px;
}

#footer .widgetLine__4 .footer-column .footer__listOfLinks__item a {
    font-size: 10px;
    line-height: 15px;
    -webkit-transition: border-bottom 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: border-bottom 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: border-bottom 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border-bottom: 1px solid transparent;
}

@media not all and (any-pointer: coarse) {
    #footer .widgetLine__4 .footer-column .footer__listOfLinks__item a:hover {
        border-bottom: 1px solid #FFF;
    }

    #footer .widgetLine__4 .footer-column .footer__listOfLinks__item a:active {
        border-radius: 4px;
        color: #d23443;
    }

    #footer .widgetLine__4 .footer-column .footer__listOfLinks__item a:focus-visible {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 3px solid #2D74B9 !important;
        color: #FFF;
        border-radius: 4px;
    }
}

#footer .widgetLine__4 .footer-column .footer__countrySelector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 150%;
}

@media (min-width: 768px) {
    #footer .widgetLine__4 .footer-column .footer__countrySelector {
        padding: 0;
    }
}

#footer .widgetLine__4 .footer-column .footer__countrySelector::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.573 2.62c5.336 0 9.627 4.29 9.627 9.572a9.603 9.603 0 0 1-9.627 9.627C6.29 21.82 2 17.528 2 12.192c0-5.282 4.291-9.573 9.573-9.573ZM4.09 16.317h2.86a15.688 15.688 0 0 1-.605-3.576h-3.3a7.954 7.954 0 0 0 1.045 3.576Zm3.96 0 3.027.055v-3.631H7.392c.055 1.21.275 2.42.66 3.576Zm4.072.055h3.026a13.63 13.63 0 0 0 .66-3.631h-3.686v3.63Zm4.126 0h2.86c.606-1.1.99-2.31 1.046-3.631h-3.301a16.153 16.153 0 0 1-.605 3.63Zm2.2.99h-2.585a11.643 11.643 0 0 1-1.816 3.08c1.76-.55 3.301-1.595 4.402-3.08Zm-3.686 0h-2.64v3.41h.165c1.045-.934 1.87-2.09 2.475-3.41Zm-3.686 0h-2.64c.605 1.265 1.43 2.476 2.475 3.41h.165v-3.41Zm-3.74 0H4.75a8.953 8.953 0 0 0 4.401 3.08 11.649 11.649 0 0 1-1.816-3.08Zm-4.292-5.666h3.301a16.16 16.16 0 0 1 .605-3.631h-2.86c-.606 1.1-.99 2.31-1.046 3.63Zm4.346 0h3.686V8.066H8.051a13.63 13.63 0 0 0-.66 3.63Zm4.732 0h3.686a14.04 14.04 0 0 0-.66-3.631h-3.026v3.63Zm4.731 0h3.3A7.955 7.955 0 0 0 19.11 8.12h-2.861c.33 1.155.55 2.365.605 3.576ZM4.751 7.075h2.585c.44-1.1 1.046-2.145 1.816-3.08-1.76.55-3.3 1.595-4.401 3.08Zm3.686 0h2.64v-3.41h-.164c-1.046.935-1.87 2.09-2.476 3.41Zm3.686 0h2.64c-.604-1.265-1.43-2.475-2.475-3.41h-.165v3.41Zm3.74 0h2.587a8.953 8.953 0 0 0-4.402-3.08c.77.935 1.376 1.98 1.816 3.08Z' fill='%23fff'/%3E%3C/svg%3E");
}

#footer .widgetLine #openCountryChoice {
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 768px) {
    #footer .widgetLine #openCountryChoice {
        margin-left: 4px;
    }
}

#footer .widgetLine #openCountryChoice::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4px;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 5.19 8 8.69l3.5-3.5 1.06 1.06-4.03 4.03a.75.75 0 0 1-1.06 0L3.44 6.25 4.5 5.19Z' fill='%23fff'/%3E%3C/svg%3E");
}

@media not all and (any-pointer: coarse) {
    #footer-services-toggleBtn-wrapper .footer-services-toggleBtn:focus-visible {
        outline: 3px solid #2D74B9 !important;
        color: #FFF;
        border-radius: 4px !important;
        opacity: 1;
    }
}
.footer-column{
    list-style: none !important;
}

.footer-column button{
    background: none;
    border: none;
    color: black;
    text-decoration: none;
}